@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
html{

    background-color: #202124;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image:linear-gradient( 0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/fondo.jpg");
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    max-width: 700px;
    background-color: #202124;
}
.form-container{
    padding: 20px ;
}
input{
    height: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #000;
}
input:focus{
    outline: none;
}
button {
    margin: 10px auto;
    display: block;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color:#3A9FF0 ;
    color: #fff;
    font-size: 1.1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.result{
    height: 500px;
} 

