.counter__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}
.counter__btn{
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.counter__btn:hover{
    background-color: #f0f0f09d;
    transition: .1s background;
}
.btn__reset-counter{
    flex-basis: 100% ;
    align-self: center;
    display: block;
}